@using P3.Models

@model  TicketViewModel

@{
    ViewBag.Title = "Home Page";
}

<br />
@{ 
    Result result = TempData["Result"] as Result;

    if (result != null)
    {
        var claseStatus = result.Status ? "alert-success" : "alert-danger";

        <div class="alert @claseStatus alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @result.Message
        </div>
    }
}


<div class="row">
    <div class="col-md-6">
        <img src="~/Content/img/butacas.PNG" class="img-responsive" />
    </div>
    <div class="col-md-6">
        
        @using (Html.BeginForm("BuyTickets", "Home", FormMethod.Post, new { @class = "form-horizontal well", id = "ticketsForm" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Compra</legend>
            </fieldset>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Sección</label>
                <div class="col-md-10">
                      
                    @Html.DropDownListFor(e => e.IndexOfSelectedSection, Model.SectionsSelectList, new { @class = "form-control input-md", @onchange = "LoadSectionInformation(this.value)" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Costo</label>
                <div class="col-md-10">
                    <label class="control-label" id="lblPriceSection">0</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Asientos disponibles</label>
                <div class="col-md-10">
                    <label class="control-label" id="lblAvailableSeats">0</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Asientos comprados</label>
                <div class="col-md-10">
                    <label class="control-label" id="lblSeatsSold">0</label>
                </div>
            </div>

             

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Cantidad</label>
                <div class="col-md-10">
                    @Html.EditorFor(e => e.QuantityToBuy, new { htmlAttributes = new { @class = "form-control", @onchange = " LoadTotal()" } })
                </div>
            </div>

              
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Comprar" class="btn btn-success" />
                </div>
            </div>
           
        }

        <form class="form-horizontal well">
            <fieldset>
                <legend>Detalle de la compra</legend>
            </fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Total</label>
                <div class="col-md-10">
                    <label class="control-label" id="lblPriceOfSeatsSelected">0</label>
                </div>
            </div>
        </form>
   

    </div>
</div>

